// クイズ関連
@charset "UTF-8";

// 選択肢
.question-select {
  background-color: $black-f2-color;
  border: 1px solid $transparent-black-1-color;
  color: $black-3d-color;
  cursor: pointer;
  font-weight: bold;
  line-height: 1.3;
  margin-bottom: 8px;
  // ２行目以降の文字の始まりを合わせるため、padding-leftで2行目以降の文字始まりの位置に合わせ
  // text-indentで1行目を本来の位置に下げる
  padding: 11px 10px 11px 42px;
  text-indent: -30px;

  .question-answered & {
    cursor: inherit;
  }
}

.question-select-correct {
  background-color: $question-correct-color;
  color: $white-color;
}

.question-select-incorrect {
  background-color: $question-incorrect-color;
  color: $white-color;
}

.question-select-checkbox {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgBAMAAACBVGfHAAAAKlBMVEUAAABmZmZmZmZmZmZmZmZmZmZmZmZmZmb///9mZmb39/fOzs59fX18fHy9IHmwAAAACHRSTlMA9s/HBm4bbxjby00AAABZSURBVCjPY2BwNZwJB8IhDAxsmjORwKQEBqe5uzrgYPVNFYbIUx1IYM1UBssdyALdkxkkVyALdE1kmNmBAmaOClAsgBHIGNGAEVFoUXlSBTOyGdyRk0MJAwDa2Q8St6kIfwAAAABJRU5ErkJggg==);
  background-size: 16px;
  display: inline-block;
  height: 16px;
  margin-right: 14px;
  vertical-align: text-bottom;
  width: 16px;

  .question-select-on & {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAMAAABEpIrGAAAAgVBMVEUAAABmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmb///9mZmb29vZ8fHzOzs5qampvb2/7+/v4+Pjy8vLu7u7b29vX19eSkpKAgIB1dXXp6enk5OTf39/V1dXR0dGXl5eNjY2JiYmFhYVycnJnZ2fm5ubIyMjExMSwsLCgoKDRJxh3AAAAC3RSTlMA0Mdu9AYb+QfLb420kx4AAADlSURBVDjLnZPXEoMgFESxpbkUozGxx5L6/x8YMPqigjPu6x4G2HuXEOI5tosFubbjEamdBa2snTxvgXHqL4hyButAHLDRniMMDrHBfa04bLIH1QMUewL4BgFbAX47G4FS4GsCrgLARw8UAaTuWiDv/dtZB2Sd8utw+oZyyOuSKr+l02/Gogl7nyk/iaY5PAOglrdGifJZNAsq+b+Ltr1/mScZi/5nDaTSbBL1mM2gLl+eRTUQQaEbFn8oX8T6ab4kIa6mcb+DtNq0MGbAvLQh3NW1Xy/OYaV6q+WV8k7H5fofT7L+P4xDL4/rrgyvAAAAAElFTkSuQmCC);
  }
}

// 解説、結果用のボックス
.question-box {
  border: 1px solid $black-d8-color;
  margin: 0 15px;
  padding: 15px 0;
}

.question-box-sticky {
  border-top-width: 0;
}

// 正解不正解
.question-comment-result {
  display: block;
  font-size: 137.5%;
  font-weight: bold;
  padding: 0 15px 14px;
}

.question-comment-result-correct {
  color: $question-correct-color;
}

.question-comment-result-incorrect {
  color: $question-incorrect-color;
}

.question-comment-answer {
  color: $black-12-color;
  font-weight: bold;
  padding: 0 15px;
}

// 結果
.question-result {
  margin-top: 14px;
}

.question-result-title {
  color: $black-79-color;
  font-size: 87.5%;
  font-weight: normal;
  line-height: 1.4;
  padding: 0 15px 16px;
}

.question-result-score {
  color: $black-12-color;
  font-size: 137.5%;
  font-weight: bold;
  padding: 0 15px;
}

.question-result-comment {
  color: $black-79-color;
  font-weight: bold;
  line-height: 1.5;
  padding: 16px 15px 0;
}

.question-result-share-title {
  color: $black-12-color;
  font-weight: bold;
  padding: 0 15px 20px;
}

.question-button {
  border-radius: 3px;
  border-style: solid;
  border-width: 1px;
  display: block;
  line-height: 40px;
  margin: 0 15px;
  text-align: center;

  &::before {
    background-size: 16px;
    content: '';
    display: inline-block;
    height: 16px;
    margin-right: 8px;
    vertical-align: -2px;
    width: 16px;
  }

  &:not(:first-of-type) {
    margin-top: 8px;
  }
}

.question-button_retry {
  border-color: $theme-color;
  color: $theme-color;

  &::before {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAMAAABEpIrGAAAAdVBMVEUAAADwgIDwgIDwgIDwgIDwgIDwgIDwgIDwgIDwgIDwgIDwgIDwgIDwgIDwgIDwgIDwgIDwgIDwgIDwgIDwgIDwgIDwgIDwgIDwgIDwgIDwgIDwgIDwgIDwgIDwgIDwgIDwgIDwgIDwgIDwgIDwgIDwgIDwgIAuuDfGAAAAJnRSTlMA+7oq9/JCFN7s5K1wYoxLIAno1KVrXRsOxntQO8+gkjczsJqId+AHIYwAAAEJSURBVDjLpZPZmoMgDIVDBbV1Zcalte0sXXz/RyxB+IJFuOl/IyRHQkICDm1Z5Gye96c6hQ3S3UwcSqlMSULurFg8JGlgYiewXL6MnQlhJbmKZv0N16Zd1arNMf3dW5Fc/H9cuyni8WEEiyk74Nk9EJfcCBpAftB/dhNiNoT+6x9XJTgkVyuocVtgfFgzmBgF3oDZy7jIXid+VctqfQBlMomlEJ0SDLBFVnOuPt9K0MI2I4ZWBwmIgVX/TMCjIcwlx6CX0gxAhQpBpfYZugrosXzOyp56z02M+Fq91zAUGbMTo9Ny6zMS9M8VBJpWTtpyh3jbdwCBwaF+jI5efHifEnza8pbz9/F/AV1jLFFClZWnAAAAAElFTkSuQmCC);
  }
}

.question-button_facebook {
  background-color: $blue-facebook-color;
  border-color: $blue-facebook-color;
  color: $white-color;

  &::before {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAMAAABEpIrGAAAARVBMVEUAAAD///////////////////////////////////////////////////////////////////////////////////////9SnXPCAAAAFnRSTlMA8CBw99DdsBnt58Nnp5uRhnFSRC4OazNCSAAAAHdJREFUOMvtz0sOgCAMRdGHreD/r/tfqpWRCaGNjL0jkp6QFsSXEhNkrgpcRqWg9Z3Lg25t8JQDtYw1wBV0MMEAG6RqDiFkwAGpV86MK7QWcKWglpq4gzx8Chze7RYYLLBYYEwBk3TG7+XhzTN/8AmwDhjEGmC6ATUdRIM031VYAAAAAElFTkSuQmCC);
  }
}

.question-button_twitter {
  background-color: $blue-twitter-color;
  border-color: $blue-twitter-color;
  color: $white-color;

  &::before {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAMAAABEpIrGAAAAilBMVEUAAAD////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////2N2iNAAAALXRSTlMA3AP52Qv1uWrwnFUbF+muln1vY2FbRD0wDwfgzsO0k46KhXVQOSokIevlwHYdIrBRAAAA6klEQVQ4y8WR2baCMAxF0xYoICCCDOI8Xe+U//89MSI2Spdvut+afTilK/AR3P1C4Tz9hpaqac8T7r8EEmoa58tVO5giS0QJ3gkuNSHiRt4DY8Mneba7TnR88zEyRCtC6vK7khHzTkT/QAh/dgn4zNPI/emOSu+rqECDv1urDU1+m2/QQkiBEK1MXtyAJQWkY/PKBaL2LIEVdBwFDnLo91Ovh0qE7BeMgxTQkw75pbHiRj977wQGMkvwgRFwZOUw78MDB/ZUxb173DGNv6Vhi0WAHJXO+PcZuz1Yn+CJ+n/seIjeXG/LBt7OGQfgVXrtw5r5AAAAAElFTkSuQmCC);
  }
}

.question-button_margin {
  margin-top: 20px;
}
