// 変数
@charset "UTF-8";

// カラー
$text-black-color: #333;
$black-color: #000;
$black-12-color: #121212;
$black-2-color: #222;
$black-3d-color: #3d3d3d;
$black-5-color: #555;
$black-6-color: #666;
$black-79-color: #797979;
$black-86-color: #868686;
$black-8-color: #888;
$black-9-color: #999;
$black-9c-color: #9c9c9c;
$black-a8-color: #a8a8a8;
$black-a-color: #aaa;
$black-b-color: #bbb;
$black-c0-color: #c0c0c0;
$black-c2-color: #c2c2c2;
$black-c6-color: #c6c6c6;
$black-c468-color: #c4c6c8;
$black-c-color: #ccc;
$black-d6-color: #d6d6d6;
$black-d8-color: #d8d8d8;
$black-e7-color: #e7e7e7;
$black-eb-color: #ebebeb;
$black-e-color: #eee;
$black-f2-color: #f2f2f2;
$black-f5-color: #f5f5f5;
$black-f7-color: #f7f7f7;
$black-f8-color: #f8f8f8;
$black-fa-color: #fafafa;
$black-fd-color: #fdfdfd;
$blue-facebook-color: #3b5998;
$blue-twitter-color: #55acee;
$header-color: rgba(255, 255, 255, .95);
$image-color-white-border: #e3e3e3;
$image-color-white-background: #fff;
$image-color-pink: #f9afd8;
$image-color-blue: #4dbee9;
$image-color-red: #ef5663;
$image-color-yellow: #ffd14c;
$image-color-orange: #fa8140;
$image-color-green: #9ed663;
$image-color-purple: #ad8eef;
$image-color-beige: #e0d1ad;
$image-color-black: #031313;
$image-color-brown: #81604c;
$image-color-gray: #aab2be;
$image-color-silver-light: rgba(190, 188, 188, .5);
$image-color-silver-dark: rgba(190, 188, 188, 1);
$image-color-silver-gradient: linear-gradient(135deg, $image-color-silver-light 0%, $image-color-silver-dark 80%);
$image-color-gold-light: rgba(146, 126, 53, .5);
$image-color-gold-dark: rgba(146, 126, 53, 1);
$image-color-gold-gradient: linear-gradient(135deg, $image-color-gold-light 0%, $image-color-gold-dark 80%);
$overlay-color: rgba(10, 12, 28, .7);
$question-correct-color: #3bc49d;
$question-incorrect-color: #dd8574;
$red-em-color: #db222a;
$red-error-color: #dc1515;
$theme-color: #f08080;
$transparent-black-01-color: rgba(0, 0, 0, .01);
$transparent-black-1-color: rgba(0, 0, 0, .1);
$transparent-black-25-color: rgba(0, 0, 0, .25);
$transparent-black-3-color: rgba(0, 0, 0, .3);
$transparent-black-4-color: rgba(0, 0, 0, .4);
$transparent-black-75-color: rgba(0, 0, 0, .75);
$white-color: #fff;
