// 変数
@charset "UTF-8";

// カラー
$text-black-color: #333;
$black-color: #000;
$black-12-color: #121212;
$black-3d-color: #3d3d3d;
$black-5-color: #555;
$black-6-color: #666;
$black-7-color: #777;
$black-79-color: #797979;
$black-86-color: #868686;
$black-8-color: #888;
$black-90-color: #909090;
$black-9-color: #999;
$black-a-color: #aaa;
$black-b-color: #bbb;
$black-c0-color: #c0c0c0;
$black-c8-color: #c8c8c8;
$black-c-color: #ccc;
$black-d6-color: #d6d6d6;
$black-d8-color: #d8d8d8;
$black-d-color: #ddd;
$black-e4-color: #e4e4e4;
$black-e5-color: #e5e5e5;
$black-e7-color: #e7e7e7;
$black-e-color: #eee;
$black-f2-color: #f2f2f2;
$black-f3-color: #f3f3f3;
$black-f4-color: #f4f4f4;
$black-f5-color: #f5f5f5;
$black-f6-color: #f6f6f6;
$black-f8-color: #f8f8f8;
$black-fa-color: #fafafa;
$black-fb-color: #fbfbfb;
$black-law-color: #e8eadf;
$black-sidetext-color: #4a4b4e;
$black-sideborder-color: #d0d1cf;
$blue-attention-color: #2929f1;
$blue-facebook-color: #3b5998;
$blue-gray-color: #c4ccce;
$blue-hatena-color: #00a4de;
$blue-twitter-color: #55acee;
$image-color-white-border: #e3e3e3;
$image-color-white-background: #fff;
$image-color-pink: #f9afd8;
$image-color-blue: #4dbee9;
$image-color-red: #ef5663;
$image-color-yellow: #ffd14c;
$image-color-orange: #fa8140;
$image-color-green: #9ed663;
$image-color-purple: #ad8eef;
$image-color-beige: #e0d1ad;
$image-color-black: #031313;
$image-color-brown: #81604c;
$image-color-gray: #aab2be;
$image-color-silver-light: rgba(190, 188, 188, .5);
$image-color-silver-dark: rgba(190, 188, 188, 1);
$image-color-silver-gradient: linear-gradient(135deg, $image-color-silver-light 0%, $image-color-silver-dark 80%);
$image-color-gold-light: rgba(146, 126, 53, .5);
$image-color-gold-dark: rgba(146, 126, 53, 1);
$image-color-gold-gradient: linear-gradient(135deg, $image-color-gold-light 0%, $image-color-gold-dark 80%);
$pink-light-color: #f99;
$pink-lighter-color: #fdd;
$question-correct-color: #3bc49d;
$question-incorrect-color: #dd8574;
$question-select-hover-color: #fffab6;
$red-attention-color: #ed5454;
$red-em-color: #db222a;
$red-error-color: #dc1515;
$theme-color: #f08080;
$transparent-black-1-color: rgba(0, 0, 0, .1);
$transparent-black-3-color: rgba(0, 0, 0, .3);
$transparent-black-5-color: rgba(0, 0, 0, .5);
$transparent-black-7-color: rgba(0, 0, 0, .7);
$white-color: #fff;

// width, height
$site-width: 1010px;
$content-width: 710px;
$left-column-width: 170px;
$right-column-width: $site-width - $content-width;
$right-wide-column-width: $site-width - $left-column-width;
$center-column-width: $content-width - $left-column-width;
$two-column-content-width: 680px;
$two-column-interval: 29px;
$three-column-interval: 19px;
